/*\
 * Restore Bootstrap 3 "hidden" utility classes.
\*/

/* Breakpoint XS */
@media (max-width: 575px) {

  .hidden-xs-down,
  .hidden-sm-down,
  .hidden-md-down,
  .hidden-lg-down,
  .hidden-xl-down,
  .hidden-xs-up,
  .hidden-unless-sm,
  .hidden-unless-md,
  .hidden-unless-lg,
  .hidden-unless-xl {
    display: none !important;
  }

}

/* Breakpoint SM */
@media (min-width: 576px) and (max-width: 767px) {

  .hidden-sm-down,
  .hidden-md-down,
  .hidden-lg-down,
  .hidden-xl-down,
  .hidden-xs-up,
  .hidden-sm-up,
  .hidden-unless-xs,
  .hidden-unless-md,
  .hidden-unless-lg,
  .hidden-unless-xl {
    display: none !important;
  }
}

/* Breakpoint MD */
@media (min-width: 768px) and (max-width: 991px) {

  .hidden-md-down,
  .hidden-lg-down,
  .hidden-xl-down,
  .hidden-xs-up,
  .hidden-sm-up,
  .hidden-md-up,
  .hidden-unless-xs,
  .hidden-unless-sm,
  .hidden-unless-lg,
  .hidden-unless-xl {
    display: none !important;
  }
}

/* Breakpoint LG */
@media (min-width: 992px) and (max-width: 1199px) {

  .hidden-lg-down,
  .hidden-xl-down,
  .hidden-xs-up,
  .hidden-sm-up,
  .hidden-md-up,
  .hidden-lg-up,
  .hidden-unless-xs,
  .hidden-unless-sm,
  .hidden-unless-md,
  .hidden-unless-xl {
    display: none !important;
  }
}

/* Breakpoint XL */
@media (min-width: 1200px) {

  .hidden-xl-down,
  .hidden-xs-up,
  .hidden-sm-up,
  .hidden-md-up,
  .hidden-lg-up,
  .hidden-xl-up,
  .hidden-unless-xs,
  .hidden-unless-sm,
  .hidden-unless-md,
  .hidden-unless-lg {
    display: none !important;
  }
}


/* Font */
@font-face {
  font-family: samimFont;
  src: url(./pulic/fonts/Samim.woff);
}

@font-face {
  font-family: samimFontBold;
  font-weight: bold;
  src: url(./pulic/fonts/Samim-Bold.woff);
}


/* public style */

* {
  font-family: samimFont;
  direction: rtl;
  letter-spacing: .25px;
}

.btn-primary {
  padding: 10px !important;
  background-color: #5A90DC !important;
  font-size: 13px !important;
  border-radius: 6px !important;
  border-color: #5A90DC !important;
  word-spacing: 1px;
}


/* start-style */
.main-start {
  height: 100vh;
}

.center-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 92%;
}

.img-start {
  width: 80%;
}

.title-start {
  font-family: samimFontBold;
  font-size: 13px;
  margin: 14px 0 0 0;
  color: #566D78;
  word-spacing: 2px;

}

.information-start {
  font-size: 9px;
  margin: 8px;
  color: #566D78;
  width: 170px;
  text-align: center;
  line-height: 2;
}

.btn-login {
  display: flex;
  justify-content: space-between;
}

.login-btn {
  width: 68%;
  font-family: samimFontBold;
}

.register-btn {
  width: 30%;
  font-family: samimFontBold;
}

/* register page */
.status-bar {
  padding: 15px 20px;
  width: 100%;
  position: fixed;
  top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5A90DC;
}

.status-title {
  font-family: samimFontBold;
  font-size: 13px;
  color: #fff;
  margin: 0;
}

.status-arrow {
  color: #fff;
  width: 9px;
  height: 20px;
}

.status-menu {}

.register-form {
  margin: 80px 5px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form input {
  font-family: samimFontBold;
  font-size: 12px;
  margin: 15px 0 0;
  background-color: #F9FAFD;
  color: #6E868F;
  border-color: #F9FAFD;
  box-shadow: none;
  padding: 22px;
  border-radius: 6px;
}

.float-btn {
  position: fixed;
  right: 20px;
  bottom: 260px;
  width: 48px;
  height: 48px;
  border-radius: 100% !important;
}

.send-img {
  width: 26px;
  height: 26px;
  margin: auto;
}

/* code page */
.label-code {
  font-size: 12px;
  color: #000;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

/* notification */
.title-notif {
  font-family: samimFontBold;
  font-size: 18px;
  margin: 8px 0;
  color: #566D78;
}

.information-notif {
  font-size: 12px;
  margin-bottom: 25px;
  color: #A5B4BB;
}

.img-notif {
  width: 45%;
}

.tab-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px 40px 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #5A90DC;
}

.hover-btn {
  position: relative;
}

.hover-btn::after {
  content: '';
  width: 45px;
  height: 4px;
  background-color: #5A90DC;
  border-radius: 3px 3px 0 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-item .btn {
  padding-bottom: 20px;
}

.menu-bar {
  position: fixed;
  right: 39%;
  bottom: 10px;
}

.menu-img {
  width: 80px;
  height: 80px;
}

/* qr-code-error */
.qr-title {
  font-family: samimFontBold;
  font-size: 18px;
  margin: 8px 0;
  color: #566D78;
  width: 122px;
  text-align: center;
}

.qr-box {
  margin-top: 45% !important;
}

/* payment */

.top-inf {
  margin-top: 68px;
  padding: 20px 10px;
  border-bottom: 1px solid #5A90DC;
  display: flex;
  align-items: center;
}

.name-inf {
  font-family: samimFontBold;
  font-size: 12px;
  color: #566D78;
  padding: 5px 8px;
  margin: 0;
  width: 240px;
}

.img-payment {
  width: 49px;
  height: 49px;
  border-radius: 100%;
  font-family: samimFontBold;
  font-size: 24px;
  background-color: #5A90DC;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.top-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 92%;
  margin-top: 40px;
}

.success-payment {
  font-family: samimFontBold;
  font-size: 13px;
  margin: 8px 0;
  color: #62B446;
}

.failed-payment {
  font-family: samimFontBold;
  font-size: 13px;
  margin: 8px 0;
  color: #FF9A71;
}

.connect-payment {
  font-family: samimFontBold;
  font-size: 13px;
  margin: 8px 0;
  color: #566D78;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: #5A90DC;
  margin-top: 18px;
}

.title-price {
  font-family: samimFontBold;
  font-size: 15px;
  margin: 0;
}

.unit-price {
  font-family: samimFontBold;
  font-size: 9px;
}

.content-payment {
  display: flex;
  width: 100%;
  padding: 20px 15px;
  margin-top: 30px;
  justify-content: space-between;
  border-top: 1px solid #9DA8B2;
  border-bottom: 1px solid #5A90DC;
}

.content-title {
  font-size: 12px;
  color: #9DA8B2;
  margin: 0;
}

.content-day {
  display: flex;
}

.content-date {
  font-size: 12px;
  color: #566D78;
  margin: 0;
}

.content-time {
  font-size: 12px;
  color: #566D78;
  margin: 0;
  padding-right: 5px;
}

.btn-payment {
  margin-top: 20px;
  width: 90%;
}

/* profile */
.prfoile-inf {
  font-size: 12px;
  color: #1E323C;
  margin: 20px 0 0;
  line-height: 2;
}

.left-side {
  display: flex;
  justify-content: space-between;
  width: 128px;
}

.form-value input {
  color: #1E323C;
}

/* pay-with-card */
.pay-inf {
  font-size: 12px;
  color: #9DA8B2;
  margin: 20px 0 0;
}

.pay-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pay-input {
  margin: 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pay-input input {
  width: 212px;
  margin: 0;
  height: 40px;
  border-radius: 6px 0 0 6px !important;
}

.pay-btn {
  width: 110px;
  margin: 0 auto;
  height: 40px;
  border-radius: 0 6px 6px 0 !important;
}

.pay-inf {
  font-size: 12px;
  color: #9DA8B2;
  text-align: center;
  margin-top: 20px;
}

.pay-nav {
  width: 100%;
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 6px;
  padding: 0;
  border: 1px solid #5A90DC;
  margin: 40px 0;
}

.pay-nav li {
  height: 40px;
}

.pay-nav li a {
  color: #9DA8B2;
  height: 40px;
}

.pay-nav li img {
  color: #9DA8B2;
}

.pay-input .nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  width: 206px;

}

.pay-input>.nav>li>a{
  width: 117px;
}


.pay-nav li .active,
.pay-nav li .active img {
  color: #fff;
}

.pay-nav>li+li {
  margin-left: 0 !important;
}