/*\
 * Restore Bootstrap 3 "hidden" utility classes.
\*/

/* Breakpoint XS */
@media (max-width: 575px) {

  .hidden-xs-down,
  .hidden-sm-down,
  .hidden-md-down,
  .hidden-lg-down,
  .hidden-xl-down,
  .hidden-xs-up,
  .hidden-unless-sm,
  .hidden-unless-md,
  .hidden-unless-lg,
  .hidden-unless-xl {
    display: none !important;
  }

}

/* Breakpoint SM */
@media (min-width: 576px) and (max-width: 767px) {

  .hidden-sm-down,
  .hidden-md-down,
  .hidden-lg-down,
  .hidden-xl-down,
  .hidden-xs-up,
  .hidden-sm-up,
  .hidden-unless-xs,
  .hidden-unless-md,
  .hidden-unless-lg,
  .hidden-unless-xl {
    display: none !important;
  }
}

/* Breakpoint MD */
@media (min-width: 768px) and (max-width: 991px) {

  .hidden-md-down,
  .hidden-lg-down,
  .hidden-xl-down,
  .hidden-xs-up,
  .hidden-sm-up,
  .hidden-md-up,
  .hidden-unless-xs,
  .hidden-unless-sm,
  .hidden-unless-lg,
  .hidden-unless-xl {
    display: none !important;
  }
}

/* Breakpoint LG */
@media (min-width: 992px) and (max-width: 1199px) {

  .hidden-lg-down,
  .hidden-xl-down,
  .hidden-xs-up,
  .hidden-sm-up,
  .hidden-md-up,
  .hidden-lg-up,
  .hidden-unless-xs,
  .hidden-unless-sm,
  .hidden-unless-md,
  .hidden-unless-xl {
    display: none !important;
  }
}

/* Breakpoint XL */
@media (min-width: 1200px) {

  .hidden-xl-down,
  .hidden-xs-up,
  .hidden-sm-up,
  .hidden-md-up,
  .hidden-lg-up,
  .hidden-xl-up,
  .hidden-unless-xs,
  .hidden-unless-sm,
  .hidden-unless-md,
  .hidden-unless-lg {
    display: none !important;
  }
}


/* Font */
@font-face {
  font-family: samimFont;
  src: url(./pulic/fonts/Samim.woff);
}

@font-face {
  font-family: samimFontBold;
  font-weight: bold;
  src: url(./pulic/fonts/Samim-Bold.woff);
}


/* public style */

* {
  font-family: samimFont;
  letter-spacing: .25px;
}

body {
  direction: rtl;
}

a:focus,
a:hover {
  color: #5A90DC !important;
  text-decoration: none !important;
}

.btn-primary {
  font-family: samimFontBold;
  padding: 10px !important;
  background-color: #5A90DC !important;
  font-size: 13px !important;
  border-radius: 20px !important;
  border-color: #5A90DC !important;
  word-spacing: 1px;
}

/* public */
.background {
  background: url('pulic/images/background.png') no-repeat left top;
  background-size: 100% 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 607px;
}

.no-border {
  border: 0;
}


/* header */
.header {
  z-index: 1030;
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
}

.navbar-nav {
  list-style: none;
}

.navbar-nav>li {
  margin: 0 30px;
}

.space-box {
  margin-left: 5px;
}



/* register */
.content {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.title-inf {
  font-family: samimFontBold;
  font-size: 20px;
  color: #1E323C;
}

.information-app {
  padding: 30px 85px;
}

.information-img {
  background: url(./pulic/images/register.png) no-repeat right top;
  background-size: 100% 100%;
  width: 406px;
  height: 282px;
  position: relative;
  overflow: hidden;
}

.form-register{
  width: 299px;
  background-color: #fff;
  padding: 15px 30px;
  border-radius: 10px;
}

.form-title{
  font-family: samimFontBold;
  font-size: 18px;
  color: #1E323C;
}

.form-register-input{
  width: 235px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  color: #6E868F;
  font-family: samimFontBold;
  font-size: 12px;
}